<article>
  <h3><%= link_to_unless_current post.title, post %></h3>
  <h6>Written by <a href="#"><%= post.author %></a> on <%= post.created_at.strftime("%B %e, %Y") %>.</h6>
  <div class="row">
    <div class="large-6 columns">
      <%= simple_format truncate(post.body, length: 420, separator: '.', omission: ".") %>
      <!--%= simple_format post.body.truncate(200, separator: '\/n') %-->
    </div>
    <div class="large-6 columns">
      <img src="http://placehold.it/400x240&text=[img]"/>
    </div>
  </div>
  <%=simple_format raw (post.body).gsub(/\A+.{410,}?\./m, '') %>
</article>
<hr/>

