 
<div class="row">
  <div class="large-9 columns" role="content">
	  	 <%= render :partial => @posts %>
  </div>
     
  <aside class="large-3 columns">
    <h5>Categories</h5>
    <ul class="side-nav">
      <li><%= link_to "News", posts_path(category: "News")%></li>
      <li><%= link_to "Code", posts_path(category: "Code")%></li>
      <li><%= link_to "Design", posts_path(category: "Design")%></li>
      <li><%= link_to "Fun", posts_path(category: "Fun")%></li>
      <li><%= link_to "Weasels", posts_path(category: "Weasels")%></li>
    </ul>
    <%- if @featured_post %>
    <div class="panel">
      <h5>Featured</h5>
      <%= render :partial => 'truncate' %>
      <%= link_to 'Read More →', @featured_post %>
    </div>
    <%- end %>
  </aside>
</div>
 